ul {
  padding-inline-start: 1.25rem;
}

.game-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1.25rem;
}

.status {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
