.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 34px;
  height: 1.667em;
  margin-right: -0.063rem;
  margin-top: -0.063rem;
  padding: 0;
  text-align: center;
  width: 1.667em;
}
